* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
}

.img-fluid {
    animation: fade-in-right 0.9s cubic-bezier(.39, .575, .565, 1.000) both
}

@keyframes fade-in-right {
    0% {
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

.formulario {
    animation: slide-up-from-bottom 0.9s cubic-bezier(0.39, 0.575, 0.565, 1.000) both;
}

@keyframes slide-up-from-bottom {
    0% {
        transform: translateY(100px);
        /* Inicia desde una posición baja */
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}